<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav th:replace="~{fragments/navbar::navbar}"></nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="~{fragments/left-sidebar::left-sidebar}"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Create New User</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/users/list}">Users List</a></li>
              <li class="breadcrumb-item active">Create</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="card">
        <div class="card-header">
          <div class="card-tools">
            <a th:href="@{/users/list}" class="btn btn-dark">
              <i class="fas fa-arrow-left fa-plus"></i> Users List
            </a>
          </div><!--card-tools -->
        </div> <!--card-header -->

        <form class="form-horizontal" th:action="@{/users/save}" th:object="${user}" method="post">
          <input type="hidden" th:field="*{id}">
          <div class="card-body">
            <div class="form-group row">
              <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name">
              </div><!--col-sm-10 -->
            </div><!--form-group -->


            <div class="form-group row">
              <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-group row">
              <label for="phone" class="col-sm-2 col-form-label">Phone</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{phone}" placeholder="Phone">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-group row">
              <label for="address" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{address}" placeholder="Address">
              </div><!--col-sm-10 -->
            </div><!--form-group -->

            <div class="form-check offset-2">
              <input type="checkbox" th:field="*{active}" class="form-check-input">
              <label class="form-check-label" for="active1">Active</label>
            </div>

          </div><!--card-body -->

          <div class="card-footer">
            <input type="submit" value="Submit" class="offset-2 btn btn-primary">
          </div><!--card-footer -->
        </form>
      </div><!--card -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:replace="~{fragments/footer::footer_scripts}"></div>
</body>
</html>
