<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav th:replace="~{fragments/navbar::navbar}"></nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="~{fragments/left-sidebar::left-sidebar}"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Users List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item active">Users List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Users List</h3>
          <div class="card-tools">
            <a th:href="@{/users/create}" class="btn btn-dark">
              <i class="fas fa-regular fa-plus mr-1"></i> Add New User
            </a>
          </div><!--card-tools -->
        </div> <!--card-header -->

        <div class="card-body">
          <table
            id="table"
            data-toggle="table"
            data-url="/users/list"
            data-data-field="content"
            data-total-field="totalElements"
            data-pagination="true"
            data-side-pagination="server">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-formatter="photoFormatter">Photo</th>
                <th data-field="firstName" data-sortable="true">First Name</th>
                <th data-field="lastName" data-sortable="true">Last Name</th>
                <th data-field="username" data-sortable="true">Username</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="phone" data-sortable="true">Phone</th>
                <th data-field="address" data-sortable="true">Address</th>
                <th data-field="active" data-formatter="statusFormatter">Status</th>
                <th data-formatter="actionBtnFormatter">Action</th>
              </tr>
            </thead>
          </table>
        </div><!--card-body -->
      </div><!--card -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div th:replace="~{fragments/footer::footer_scripts}"></div>

<script th:inline="javascript">
  function statusFormatter(value, row, index) {
    if(value === true) {
      return '<i class="fas fa-check-circle text-success"></i>';
    } else {
      return '<i class="fas fa-times-circle text-danger"></i>';
    }
  }

  function actionBtnFormatter(value, row, index) {
    /*<![CDATA[*/
      let editUrl = /*[[@{/users/edit/}]]*/;
      let deleteUrl = /*[[@{/users/delete/}]]*/;
    /*]]>*/

    return '<a class="btn btn-xs btn-info" href="'+editUrl+row.id+'">Edit</a>' +
            '<a class="btn btn-xs btn-danger" href="'+deleteUrl+row.id+'">Delete</a>';
  }

  function photoFormatter(value, row, index) {
    if(row.photo != null) {
      return '<img src="/uploads/'+row.id+'/'+row.photo+'" class="img-thumbnail img-size-64">'
    } else {
      return '<span class="fas fa-portrait fa-3x" style="color: silver"></span>'
    }
  }

</script>
</body>
</html>
